@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap');
h1 {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.paper {
	font-family: "Patrick Hand", cursive;
	position: relative;
	line-height: 25px;
	box-sizing: content-box;
	width: 425px;
	height: 550px;
	background-color: white;
	margin: 0 auto;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s, margin 0.3s;

	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background: rgba(255, 0, 0, 0.3);
		margin-left: 48px;
		z-index: 2;
	}

	.lines {
		top: 50px;
		position: relative;
		box-sizing: content-box;
		height: calc(550px - 50px);
		padding-right: 8px;
		padding-left: 56px;
		background-image: repeating-linear-gradient(
			white 0px,
			white 23.5px,
			steelblue 25px
		);

		ul {
			margin: 0;
		}
	}
}

.career-section h3,h4{
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
  font-size: 48px;
}
.entry-level ul {
  list-style:circle;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 4000,
  'GRAD' 0,
  'opsz' 48
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f5f8;
  line-height: 2.2;
  font-size: 0.875rem;
}
.career-section {
    padding: 200rem;
}

.career-content {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:0.4cm;

}
.training ul{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:0.4cm;
     color:#0a11cf

}
.entry-level ul{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:0.4cm;
    color:#5b0ad5

}
.salary ul{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:0.4cm;
    color:#5b0bd4

}
.overview-description mark{
     background-color: rgb(189, 244, 8);
}



.career-section {
  background: #ffffff;
  border-radius: 8px;
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 8px rgba(0,0,0,0.04);
}

.career-section h1,
.career-section h2 {
  margin: 0 0 0.5rem 0;
  color: #333;
}

.career-section h3 {
  margin: 0.5rem 0 0.25rem 0;
  color: #555;
}

@media (min-width: 800px) {
  .career-content {
    padding: 0;
  }
  .career-section {
    padding: 1.5rem 2rem;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fa-bars {
  font-size: 1.5rem;
  color: #e94949;
  cursor: pointer;
}

.fa-bars:hover {
  color: black;
}

.menu a {
  color: grey;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.menu a:hover {
  background: #f8a5a5;
  color: #e94949;
  padding-left: 1.5rem;
}

.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-menu {
  height: 10rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header img,
.logo {
  width: 120px;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

@media (min-width: 800px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }
  .nav-header img,
  .logo {
    width: 200px;
  }
  .fa-bars {
    display: none;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .menu a:hover {
    padding: 0;
    background: transparent;
  }
}


.salary-line {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 3rem;
  color: #333;
}
.salary-amount {
  font-weight: 700;
  color: #1a7f37;
}