body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

h5 {
  text-decoration: underline;
  font-weight: bold;
  color: #d84315;
  text-align: center;                                                   
}
form {
  background: yellow;
  width: 650px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid  black;
  border-radius: 6px;
}


.section {
  border: 3px solid black;
  margin: 10px 0;
  padding: 5px;
}


.row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.row label {
  width: 100px;
  text-align: right;
  margin-right: 6px;
}

.inline-label {
  width: auto;
  margin-left: 6px;
  margin-right: 6px;
}

.row input,
.row select {
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
  padding: 3px;
}

.multi input {
  margin-right: 10px;
}

.groups-container {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
}

.group {
  flex: 1; 
  padding: 5px;
  box-sizing: border-box; 
  border: 1px solid black;
  border-top-right-radius: 20px;
}


legend {
  font-size: 14px;
  font-weight: bold;
}


.buttons {
  text-align: center;
  margin-top: 10px;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

#error_message {
  border: 2px solid #f30303;
  background-color: #ffb3b3;
  margin: 20px auto;
  padding: 20px;
  display:none;
  text-align: center;
  font-weight: bold;
  color: #800000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}