body {
  font-family: Arial, sans-serif;
  background: #c95bb3;
}

form {
  background: yellow;
  width: 650px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid  black;
  border-radius: 6px;
}

/* Common section styling */
.section {
  border: 3px solid black;
  margin: 10px 0;
  padding: 5px;
}


.row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.row label {
  width: 100px;
  text-align: right;
  margin-right: 6px;
}

.inline-label {
  width: auto;
  margin-left: 6px;
  margin-right: 6px;
}

.row input,
.row select {
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
}

.multi input {
  margin-right: 10px;
}

.groups-container {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
}

.group {
  flex: 1; 
  padding: 5px;
  box-sizing: border-box; 
}


legend {
  font-size: 14px;
  font-weight: bold;
}

/* Buttons */
.buttons {
  text-align: center;
  margin-top: 10px;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #555;
}
