p {
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: left;
}

.main_content h2 {
    font-size: 28px;
    color: #333333;
    margin-bottom: 15px;
}
.main_content ul {
    margin-left: 8%;
}   
.main_content li {
    margin-bottom: 10px;
}
.main_content a {
    color: #4a73d9;
    text-decoration: none;
}
.main_content a:hover {
    text-decoration: underline;
}   
