p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}   
h2 {
    font-size: 28px;
    color: #4a73d9;
    margin-bottom: 10px;
}
h3 {
    font-size: 24px;
    color: #4a73d9;
    margin-bottom: 10px;
}   
h4 {
    font-size: 20px;
    color: #4a73d9;
    margin-bottom: 10px;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}
li {
    margin-bottom: 5px;
}
a {
    color: #4a73d9;
    text-decoration: none;
}               
a:hover {
    text-decoration: underline;
}   
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;

}
button {
    width: 1000px;
    background-color: #4a73d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
     animation: blink 2s infinite;
 }
 button:hover {
    background-color: #3b5bb5;
 }
@keyframes blink {
    0%, 100% { background-color: #eee2e3; }
    50% { background-color: #ec0909; }
}
   
.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}
.header h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}
.header a {
    margin: 0 15px;
    font-size: 18px;
}
.header a:hover {
    text-decoration: underline;
}
.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ddd;             
    margin-top: 20px;
}
.footer p {
    margin: 0;          
    color: #777;
    font-size: 14px;
}           
.footer a {
    color: #4a73d9;
}
.footer a:hover {
    text-decoration: underline;
}

.header_link {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
.header_link a {
    margin: 0 15px;
    font-size: 18px;
    color: #4a73d9;
    text-decoration: none;
}
.header_link a:hover {
    text-decoration: underline;
}
.price {
    background-color: #e9f0ff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.price p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.price ul {
    list-style-type: none;
    padding: 0;
}
.price li {
    margin-bottom: 5px;
    font-size: 16px;
}       
.price img {
    max-width: 500px;
    height: 600px;
    border-radius: 5px;
    margin-right: 10px;
}

body h1 {
    text-align: center;
    color: #4a73d9;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aad803;
    color: #333;
}   